/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --primary-color: #000000;
    --secondary-color : #ffffff;   
    --secondary-color-low-opacaty : #ffffffb7;  
    --blue-color: #0b25c6;
    --orange-color: #ff7900;
    --light-organge-color: #ff8e29;
    --grey-color:  #f1f1f1;
    --light-purpel-color: #9aa8ff;
}

.img-grid{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin: auto;
    width: 100%;
}

.img-grid > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.img-grid > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.img-grid > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.img-grid > *:nth-child(4){
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.img-meny{
    background: var(--light-organge-color);
    border-radius: 50px;
    color: var(--secondary-color);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 0.1rem;
    margin: 20px;
    text-transform: uppercase;
    top: 60px;
    width: 100%;
}

.img-meny p:hover {
    color: var(--blue-color);
}

.active-category{
    background-color: var(--light-purpel-color);
    color: var(--blue-color);
}

.img {
    width: 100%;
}

.image-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  
.image-gallery .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    width: 25%;
}
  
.image-item img {
    border-radius: 10px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}

@media only screen and (min-width: 850px) {
    .image-gallery {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }  
}

@media screen and (max-width: 850px) {

    .image-gallery .column{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
        width: 100%;
    }

    .image-gallery .column > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .image-gallery .column > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}

@media screen and (max-width: 650px) {
   .img-meny{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 0;
        padding: 20px;
        width: 50%;
   }

   .category{
        margin: 5px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
   }
}