
@font-face {
    font-family: raleway;
    font-weight: 300;
    src: url(../fonts/raleway-light-webfont.woff) format("woff"),
         url(../fonts/raleway-light-webfont.woff2) format("woff2");     
}

@font-face {
    font-family: raleway;
    font-weight: 400;
    src:  url(../fonts/raleway-regular-webfont.woff) format("woff"),
          url(../fonts/raleway-regular-webfont.woff2) format("woff2");
}

@font-face {
    font-family: raleway;
    font-weight: 600;
    src: url(../fonts/raleway-bold-webfont.woff) format("woff"),
         url(../fonts/raleway-bold-webfont.woff2) format("woff2");     
}

@font-face {
    font-family: raleway;
    font-weight: 900;
    src:  url(../fonts/raleway-extrabold-webfont.woff) format("woff"),
          url(../fonts/raleway-extrabold-webfont.woff2) format("woff2");
}

@font-face {
    font-family: libre-baskerville;
    font-weight: 400;
    src: url(../fonts/librebaskerville-regular-webfont.woff) format("woff"),
         url(../fonts/librebaskerville-regular-webfont.woff2) format("woff2");     
}

@font-face {
    font-family: libre-baskerville;
    font-weight: 700;
    src:  url(../fonts/librebaskerville-bold-webfont.woff) format("woff"),
          url(../fonts/librebaskerville-bold-webfont.woff2) format("woff2");
}

@font-face {
    font-family: libre-baskerville;
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/librebaskerville-italic-webfont.woff) format("woff"),
         url(../fonts/librebaskerville-italic-webfont.woff2) format("woff2");     
}